<div ng-if="vm.added"> Student add successful </div>

<h1>Add New Student</h1>
<p>
	<label for="fullname">Name</label><br>
	<input id="fullname" type="text" ng-model="vm.name">
</p>
<p>
	<label>Phone</label><br>
	<input type="text"  phone-validator ng-model="vm.phone">
</p>
<p>
	<label>College Name</label><br>
	<input type="text" ng-model="vm.college">
</p>
<p>
	<button ng-click="vm.addStudent()">Add</button>
</p>
<div ui-view></div>
<hr>
<a ui-sref="show" href="#">Show Student</a>