<table class="table-details">
	<th>Name</th>
	<th>Grade</th>
	<th>Class</th>
	<tr ng-repeat="s in vm.list | orderBy:vm.filterName">
		<td>{{ s.name }}</td>
		<td>{{ s.grade }}</td>
		<td>{{ s.class }}</td>
	</tr>
</table>
<div ui-view></div>