<div class="filters">
	<button ng-click="vm.order('name')">By Name</button>
	<button ng-click="vm.order('grade')">By Grade</button>
	<button ng-click="vm.order('class')">By Class</button>
</div>
<div ui-view></div>
