<a ui-sref="list" href="#">Student List</a>
<hr>
<h1>Show Student</h1>
<div ng-if="vm.student.name">
	<p> Name:  {{ vm.student.name }} </p>
	<p> Phone: {{ vm.student.phone | tel }}</p>
	<p> College: {{ vm.student.college }}</p>
</div>
<div ui-view></div>