<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Wallethub Round 2</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <!-- navigation: -->
  <div ui-view class="view {{ vm.cssClass }}"></div>

  <!-- library -->
  <script src="js/lib/angular.min.js"></script>
  <script src="js/lib/angular-ui-router.min.js"></script>
  <script src="js/lib/angular-animate.min.js"></script>

  <!-- app modules -->
  <script src="js/app/app.module.js"></script>
  <script src="js/app/app.config.js"></script>
  <!-- controllers -->
  <script src="js/app/StudentController.js"></script>
  <script src="js/app/ShowStudentController.js"></script>
  <script src="js/app/ListStudentsController.js"></script>

  <!-- factory -->
  <script src="js/app/exchanger.js"></script>

  <!-- directive -->
  <script src="js/app/validator.directive.js"></script>
  <script src="js/app/phone.filter.js"></script>

</body>
</html>
